<h1>Genres</h1>
<a href="/genres/new">New Genre</a>

{{#if genres.length}}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each genres}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>
                    <a href="/genres/{{@index}}" class="btn btn-info btn-sm">View</a>
                    <a href="/genres/edit?id={{@index}}" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
